.header{
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  justify-content: space-between;
  z-index: 100;
  border-bottom: 1px solid rgb(187, 187, 187);
  background-color: beige;
  

}
.right-section{
  outline: 1px solid black;
}

.left-section{
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.home-button,.direct-messages-button{
  display: flex;
  align-items: center;
  height: 50px;
  margin-left: 30px;
  white-space: nowrap;
  font-size: 13px;
}

.home-button:hover,.direct-messages-button:hover{
  background-color: rgb(200, 200, 200);
}

.home-button:active, .direct-messages-button:active{
  background-color: rgb(178, 178, 178);
}

.home-button img,.direct-messages-button img{
  width: 23px;
}

.middle-section{
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}
.search-bar{
  flex: 1;
  height: 34px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgb(178, 178, 178);
  border-radius: 2px;
  box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);
  width: 0;
}

.right-section{
  
}