p{
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}

a{
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}

h1{
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}

h2{
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}

label{
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}

body{
  margin-top: 50px;
  margin-left: 200px;
  margin-bottom: 30%;
}

/* Quill Rich Text Editor */
.editor {
  max-width: 600px;
  width: 100%;
}

.ql-toolbar {
  max-width: 600px;
}
